/*body{
    width:90%;
    margin:auto;
}
*/
@media (max-width: 576px){
    .descriptionbuttons{
        display: none;
    }

/*.supercarousel{
    width:auto;
    height: 400px;
    position: relative;
    border:solid red;
}
#carouselExampleSlidesOnly{
    margin: auto;
    position: absolute;
}*/
.descriptionbuttons{
    margin-top:23%;
    width:auto;
    /*margin-left: auto;
    margin-right: auto;
    position:absolute;*/
}